*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
    
}

:root{
    --background: rgb(24,24,24);
    --second-background: rgb(21,21,21);  
}
body{
    min-height: 100vh;
    background-color: var(--background);
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15,15,15,0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
ul{
    display: flex;
    align-items: center;
    gap: .8em;
}
nav ul a{
    color: aliceblue;
    opacity: 0.7;
    transition: 0.2s ease-in-out;   
}
nav ul a:hover{
    opacity: 1;
}
.logo{
    font-size: 2em;
    color: aliceblue;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.logo:hover{
    opacity: 1;
}
.btn{
    padding: 0.5em 1em;
    color: aliceblue;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;   
}

.btn:hover{
    background-color: aliceblue;
    color: var(--background);
}
span{
    background: linear-gradient(to right,#6cff52 ,#3ec5ff);
    background-clip: text;
    color: transparent;
}
#menu{
    color: aliceblue;
    font-size: 3em;
    display: none;    
}
section{
    min-height: 100vh;
    padding: 5% 15%;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: aliceblue;
}
#home img{
    width: 18vw;
    border-radius: 50%;
    margin-top: 3em;
}
.info-box{
    display: flex;
    flex-direction: column ;
    text-align: center;
    gap: 0.5em;
    max-width: 600px;
}
.info-box h1{
    font-size: 5em;
    font-weight: 500;
}
.info-box h3{
    font-size: 2em;
    font-weight: 400;
}
.info-box p{
    opacity: 0.7;
}
.btn-box{
    display: flex;
    gap: 1em;
}
.btn-box .btn:nth-of-type(2){
    background-color: aliceblue;
    color: var(--background);
}
.btn-box .btn:nth-of-type(2):hover{
    background-color: var(--background);
    color: aliceblue;
}
::-webkit-scrollbar{
    width: 20px;
    background-color: var(--background);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #6cff52, #3ec5ff);
}
#about{
    background-color: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
#about img{
    width: 30vw;
    border-radius: 1em;
}
.about-box{
    display: flex ;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}
.about-box h1{
    font-size: 5em;
}
.about-box p{
    color: aliceblue;
    opacity: 0.8;
    font-size: 22px;
}
.skills{
    display: flex;
    text-align: left;
    gap: 10em;
    display: flex;
    align-items: center ;
    gap: 0.5em;
    justify-content: center;
}
.box ul{
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    opacity: 0.8;
    align-items: baseline;
}

ul li{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}
.skills ul li span{
    display: flex;
    align-items: center ;
    gap: 0.5em;
    font-size: 1.2em;
    transition: 0.3s ease-in-out;
}
.skills ul li span:hover{
    transform: translateX(10px);
}
.skills ul li i{
    font-size: 1.2em;
}
.about-box h2{
    font-size: 2.5em;
}
#resume{
    background-color:var(--background) ;
}
.header{
    text-align: center;
    font-size: 5em;
    margin: 0.5em 0;
}
.services-container{
    display: flex;
    width: 100%;
    gap:2em ;
    align-items: center;
    justify-content: center;
}

.box{
    border: 3px solid rgb(49 ,49 ,49);
    border-radius: 0.5em;
    width: 500px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: aliceblue;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.fullscreen-img {
     object-fit: cover; /* Ensures the image covers the screen without distortion */
    z-index: -1; /* Sends it behind other content */
}
.box:hover{
    border: 3px solid rgb(100, 100, 100);
}
.box p{
    opacity: 0.8;
}
.box h1{
    font-size: 2em;
}
.box img{
    min-height: 25px;
    border-radius: 0.5em;
}







.neon-text {
    /* font-size: .4rem; */
    color: #fff;
    text-shadow: 0 0 2px #6cff52, 0 0 3px #6cff52, 0 0 6px #6cff52, 0 0 8px #6cff52, 0 0 10px #6cff52;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 2px #6cff52, 0 0 3px #6cff52, 0 0 4px #6cff52, 0 0 5px #6cff52, 0 0 7px #6cff52;
    }
    /* 50% {
        text-shadow: 0 0 2px #e47564, 0 0 3px #e47564, 0 0 6px #e47564, 0 0 8px #e47564, 0 0 10px #e47564;
    } */
    100% {
        text-shadow: 0 0 2px #3ec5ff, 0 0 3px #3ec5ff, 0 0 4px #3ec5ff, 0 0 5px #3ec5ff, 0 0 7px #3ec5ff;
    }
}

 